<a href="@Url.Action("ChangeTheme", "Account", new {area="Common", Theme = "blue" })"><div class='theme theme-blue'></div></a>
<a href="@Url.Action("ChangeTheme", "Account", new {area="Common", Theme = "red" })"><div class='theme theme-red'></div></a>
<a href="@Url.Action("ChangeTheme", "Account", new {area="Common", Theme = "green" })"><div class='theme theme-green'></div></a>
<a href="@Url.Action("ChangeTheme", "Account", new {area="Common", Theme = "gray" })"><div class='theme theme-gray'></div></a>
<a href="@Url.Action("ChangeTheme", "Account", new {area="Common", Theme = "pink" })"><div class='theme theme-pink'></div></a>