@model ViewModels.Security.ChangePassword
@{
    ViewData["Title"] = CorePageTitle.ChangePassword;
        if (Context.GetCurrentTheme().Contains("darsnew") || string.IsNullOrEmpty(Context.GetCurrentTheme()))
    {
        Layout = "~/Views/Shared/_NavMenuLayout2.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
@await  Html.PartialAsync("_MessageBox", (Core.UI.MessageBox)ViewBag.MessageBox)
<div class="row rtl">
    <div class="col-md-5 col-center">
        <div class="content smooth-trans" style="padding:20px 30px">
            <form asp-action="ChangePassword" asp-controller="Account" method="post">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-12" style="padding-bottom:10px">
                        <span class="text-danger"><i class="fa fa-times-circle" style='visibility:@(string.IsNullOrEmpty(ViewBag.Message)?"hidden":"visible")'></i> @ViewBag.Message</span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.CurrentPassword, DBResources.Security.CurrentPassword)
                        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control form-control-sm latin-font", Value = Model.CurrentPassword })
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger d-none"})
                    </div>
                    <div class="form-group col-md-12">
                        @Html.LabelFor(model => model.NewPassword, DBResources.Security.NewPassword)
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-control-sm latin-font", Value = Model.NewPassword })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger  d-none"})
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-primary" style="width:100%!important"><i class="fas fa-unlock-alt"></i> @CoreCommand.CmdSave </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>